.el-card {
  margin-top: 15px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15) !important;
}

.el-pagination, .el-table {
  margin-top: 15px;
}

.el-table {
  font-size: 12px;
}

#app,body,html {
  color: rgba(0, 0, 0, 0.65);
}

